<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-3">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/fbzsaullo/image/upload/v1654778164/The%20Hat/the-hat_tt3hs4.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item pr-3">
            <span class="nav-link pt-3">Olá, <span class="nav-user"><%= current_user.name %></span></span>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, class: "avatar-large dropdown-toggle animation", id: "navbarDropdown", width: 120, height: 120, data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/fbzsaullo/image/upload/v1654806344/360_F_453067390_5z3OMDH8aPYAmhZCv1jxVWbPalZITyz0_znubzz.jpg", class: "avatar-large dropdown-toggle animation", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% case current_user.house_id %>
              <% when 1 %>
              <%= link_to "Minha Casa", houses_frontend_path , class: "dropdown-item" %>
              <% when 2 %>
              <%= link_to "Minha Casa", houses_backend_path , class: "dropdown-item" %>
              <% when 3 %>
              <%= link_to "Minha Casa", houses_gamedev_path , class: "dropdown-item" %>
              <% when 4 %>
              <%= link_to "Minha Casa", houses_datascience_path , class: "dropdown-item" %>
              <% else %>
               <%= link_to "Iniciar Teste", questions_path , class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Perfil", profile_path , class: "dropdown-item" %>
              <%= link_to "Editar Perfil",edit_user_registration_path , class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
