<div class="container my-5">
  <div class="house-container p-3 d-flex">
    <div class="column-1 w-25">
      <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "profile-pic" %>
      <% else %>
      <%= image_tag "https://res.cloudinary.com/fbzsaullo/image/upload/v1654806344/360_F_453067390_5z3OMDH8aPYAmhZCv1jxVWbPalZITyz0_znubzz.jpg", class: "profile-pic" %>
      <% end %>
      <% unless current_user.house.nil? %>
      <% link_to  %>
        <% case current_user.house_id %>
        <% when 1 %>
        <div class="house-flag-container">         
          <%# <%= image_tag "house-flag", class: "house-flag-frontend" %>
          <%= image_tag "pencil-screen", class: "gamepad" %>
        </div>
        <% when 2 %>
        <div class="house-flag-container">        
          <%= image_tag "house-flag", class: "house-flag-backend" %>
          <%= image_tag "gear-screen", class: "gamepad" %>
        </div>
        <% when 3 %>
          <div class="house-flag-container-green">
          <%= image_tag "gamepad", class: "gamepad" %>
        </div>
        <% else %>
          <div class="house-flag-container">    
          <%= image_tag "house-flag", class: "house-flag-datascience" %>
          <%= image_tag "atom-db", class: "gamepad" %>
        </div>
        <% end %>
      <% end %>
      <span class="name-profile mt-3"><%= current_user.name %></span>
      <span class="join-date">criado em <%= @date %></span>
      <%= link_to "Editar perfil", edit_user_registration_path, class: "edit-profile-btn mt-3" %>
    </div>
    <div class="column-2 w-75">
      <div class="house-title">
        <% if current_user.house == nil %>
          <h4>Você ainda não possui uma casa!</h4>
        <% else %>
          <span style="font-size: 20px">Sua casa é</span>
        <h1><%= current_user.house.name %></h1>
      </div>
      <hr>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia, nibh in interdum semper, nisi arcu volutpat nisi, vel ornare neque quam a ipsum. Aliquam erat volutpat. Aenean sit amet dignissim lorem, eu commodo tortor. Aenean nec suscipit ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      <br>
      <h4>Principais linguagens</h4>
        <i class="devicon-javascript-plain"> Javascript</i>
        <i class="devicon-cplusplus-plain px-3"> C++</i>
        <i class="devicon-csharp-plain"> C#</i>
      <br>
      <br>
      <h4>Onde aprender:</h4>
      <ul>
        <li>Codecademy <span style="font-size: 10px; color: gray; font-weight: 700">GRÁTIS</span></li>
        <li>Freecodecamp <span style="font-size: 10px; color: gray; font-weight: 700">GRÁTIS</span></li>
        <li>Alura</li>
        <li>Youtube</li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
