<div class="main-container my-5">
  <div class="house-container p-3 d-flex">
    <div class="column-1 w-25">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "profile-pic" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/fbzsaullo/image/upload/v1654806344/360_F_453067390_5z3OMDH8aPYAmhZCv1jxVWbPalZITyz0_znubzz.jpg", class: "profile-pic" %>
      <% end %>
      <% unless current_user.house.nil? %>
      <% link_to  %>
        <% case current_user.house_id %>
        <% when 1 %>
        <div class="house-flag-container-red">
          <%= image_tag "pencil-screen", class: "gamepad" %>
        </div>
        <% when 2 %>
        <div class="house-flag-container-yellow">
          <%= image_tag "gear-screen", class: "gamepad" %>
        </div>
        <% when 3 %>
          <div class="house-flag-container-green">
          <%= image_tag "gamepad", class: "gamepad" %>
        </div>
        <% else %>
          <div class="house-flag-container-blue">
          <%= image_tag "atom-db", class: "gamepad" %>
        </div>
        <% end %>
      <% end %>
      <span class="name-profile mt-3"><%= current_user.name %></span>
      <span class="join-date">criado em <%= @date %></span>
      <%= link_to "Editar perfil", edit_user_registration_path, class: "edit-profile-btn mt-3" %>
    </div>
    <div class="column-2 w-75">
      <div class="house-title">
        <% if current_user.house == nil %>
          <h4>Você ainda não possui uma casa!</h4>
        <% else %>
          <span style="font-size: 20px">Sua casa é</span>
        <h1><%= current_user.house.name %></h1>
      </div>
      <hr>
      <p>
       <%= link_to "Saiba mais", @house , class: "edit-profile-btn mt-3" %>
      <br>
      <!-- //// LANGUAGES ICONS -->
      <h4>Principais linguagens</h4>
      <% case current_user.house_id %>
      <% when 1 %>
      <i class="devicon-css3-plain h5"> CSS3</i>
      <i class="devicon-javascript-plain h5 px-3"> JavaScript</i>
      <i class="devicon-react-original h5"> React.js</i>
      <% when 2 %>
      <i class="devicon-javascript-plain h5"> JavaScript</i>
      <i class="devicon-ruby-plain h5 px-3"> Ruby</i>
      <i class="devicon-python-plain h5"> Python</i>
      <% when 3 %>
      <i class="devicon-javascript-plain h5"> JavaScript</i>
      <i class="devicon-cplusplus-plain h5 px-3"> C++</i>
      <i class="devicon-csharp-plain h5"> C#</i>
      <% when 4 %>
      <i class="devicon-python-plain h5"> Python</i>
      <i class="devicon-r-plain h5 px-3"> R</i>
      <i class="devicon-java-plain h5"> Java</i>
      <% end %>
      <!-- //// FINISH LANGUAGES ICONS -->
      <br>
      <br>
      <h4>Onde aprender:</h4>
      <ul>
        <li>Codecademy <span style="font-size: 10px; color: gray; font-weight: 700">GRÁTIS</span></li>
        <li>Freecodecamp <span style="font-size: 10px; color: gray; font-weight: 700">GRÁTIS</span></li>
        <li>Alura</li>
        <li>Youtube</li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
