<div class="login screen d-flex align-items-center">
  <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="row">
      <div class="card-profile p-4">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="image-profile avatarp">
          <%= cl_image_tag current_user.photo.key, class: "avatarp__image" %>
          <!-- <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /> -->
          </div>
          <span class="name-profile mt-3"><%= current_user.name %></span>
          <%= image_tag current_user.house.image, class: "house" %>


          <div class=" d-flex mt-2">
            <%= link_to "Edit profile", edit_user_registration_path, class: "btn white-wizard" %>
          </div>

          <div class=" px-2 rounded-profile mt-4 date ">
            <span class="join">Joined, <%= @date %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
