<div class="login screen d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-0 col-lg-2 "></div>
      <div class="col-12 col-lg-8 col-md-12 col-sm-0 back1 logpad">
        <h1>Oi,</h1>
        <h2>Você precisar fazer login para continuar</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs form-login">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>

          </div>
        <div class="login-flexed container d-flex justify-content-between"">

          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
          <% end %>

          <div class="form-actions">
          <%= f.button :submit, "entrar", class:"white-wizard" %>
          </div>
          <% end %>

         </div>
        </div>
    </div>
  </div>
</div>
