<!DOCTYPE html>
<html>
  <head>
    <title>The Hat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= favicon_link_tag 'the-hat.png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

  </head>

  <body class="page">
    <nav>
      <%= render "shared/navbar" %>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>

</html>
